<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <title>My Book List</title>
  <th:block th:replace="/admin/admin_layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="/admin/admin_layout :: header"></th:block>
<div class="container">
  <h1><strong>List Role</strong></h1>
  <table class="table">
    <div>
      <strong>User ID:</strong> <span th:text="${user.id}"></span>
    </div>

    <div>
      <strong>User Name:</strong> <span th:text="${user.username}"></span>
    </div>

    <div>
      <strong>User Roles:</strong>
      <ul>
        <li th:each="role : ${roles}">
          <span th:text="${role.tenrole}"></span>
        </li>
      </ul>
    </div>
  </table>
</div>
<th:block th:replace="/admin/admin_layout :: footer"></th:block>
</body>
</html>
